body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

.app h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 10px;

  background: linear-gradient(90deg, gold, orange, red);

 
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 25px rgba(255, 140, 0, 0.7);
}


.app {
  min-height: 100vh;
  padding: clamp(20px, 5vw, 60px);
  display: flex;
  flex-direction: column;
  align-items: stretch; 
}




.album-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}





.chromo-card {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}


.chromo-card::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 18px;
  background: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet,
    red
  );
  background-size: 400%;
  z-index: -1;
  animation: borderAnimation 6s linear infinite;
}

@keyframes borderAnimation {
  0% { background-position: 0% }
  100% { background-position: 400% }
}

.chromo-card:hover {
  transform: scale(1.05);
}

.chromo-card img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 10px;
}


.chromo-details {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ccc;
}
